<ion-modal-view>
  <!-- <ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar> -->
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Movie Name" ng-model="moviesCtrl.movieTitle">
      </label>
      <label class="item item-input padding">
        <button class="button button-positive button-block" ng-click="moviesCtrl.addMovie()">Add New Movie</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
