
<ion-view>
  <ion-nav-bar class="bar-dark" align-title="left">


    <ion-nav-title> Cool Movies
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <button class="button button-positive" ng-click="moviesCtrl.showForm()">Add New Movie</button>
    </ion-nav-buttons>
   </ion-nav-bar>

  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left listItem" href="#" ng-repeat="movie in moviesCtrl.movies">
        <img src="{{ movie.Poster }}">
        <h2 class="title">{{ movie.Title }}</h2>
        <p class="plot">{{ movie.Plot }}</p>
      </a>
    </div>
    </ul>
  </ion-content>
</ion-view>
